* {
    overflow-y: hidden;
    overflow-x: hidden;
}

.container {
    min-height: 100vh;
    position: relative;
    align-content: center !important;
    z-index: 1;
}

#loginForm {
    margin-top: -7em;
}

#registerForm {
    margin-top: 11em;
}

.backgroundLogin {
    position: relative;
    font-family: 'Roboto', sans-serif;
    background-image: url('../../images/LoginMobile_background.png');
    background-color: rgba(150, 184, 250, 0.5);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    min-height: 100vh;
    z-index: 0;
}

.backgroundRegister {
    position: relative;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    min-height: 100vh;
    z-index: 0;
    overflow: hidden;
}

.backgroundRegister::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../../images/SignUpMobile_background.png');
    background-color: rgba(150, 184, 250, 0.5);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transform: scaleX(-1);
    z-index: -1;
}

.row {
    margin: 0 auto;
    align-content: center !important;
    text-align: center;
}

.login-box {
    background: none;
    text-align: center;
}

.login-back {
    padding: 0.8em 0 0.5em 0;
    text-align: left;
    margin-left: 3em;
}

#ancoraText {
    color: #FF7F50;
    text-decoration: none;
    font-size: 18px;
}

#ancoraText:hover {
    color: #fbbf24;
}

.login-button {
    padding: 0.8em 0 1.2em 0;
    background-color: none;
}

.login-key {
    height: 100px;
    font-size: 80px;
    line-height: 100px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.login-title {
    margin-top: 15px;
    text-align: center;
    font-size: 30px;
    letter-spacing: 2px;
    font-weight: bold;
    color: #000000;
}

.login-form {
    margin: 3em 0 1em 0;
    text-align: left;
}

.register-form {
    margin: 1.5em 0 1em 0;
    text-align: left;
}

form {
    padding: 0 3em 0 3em;
}

.form-group {
    margin-bottom: 10px;
    outline: 0px;
    font-size: 13px !important;
}

input.form-control::placeholder {
    color: #c8c8c8 !important;
    font-size: 13px;
}

input.form-control:focus {
    outline: none;
    box-shadow: 0 0 0;
}

label {
    margin-bottom: 0px;
}

.form-control {
    height: 42px !important;
}

.form-control-label {
    font-size: 15px;
    color: rgba(0, 0, 0, 0.6);
    font-weight: bold;
    letter-spacing: 0.7px;
    margin-bottom: -0.1em;
}

.btnForm {
    color: #F3F4F6 !important;
    background-color: #FF7F50 !important;
    border-radius: 0.4em !important;
    height: 44px;
    letter-spacing: 1px;
    width: 100%;
    font-size: 20px !important;
    font-weight: 600 !important;
}

.btnForm:hover {
    background-color: #0d43aa !important;
    color: #F3F4F6 !important;
    right: 0px;
}

.col-lg-12 {
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.login-options {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 0.8em;
}

.col-lg-6 {
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.3em;
    border-radius: 0.5em;
    background-color: #dce8ff;
}

.icons {
    width: 22px;
    height: 22px;
    object-fit: contain;
}

.spanIcons {
    color: #1877f2;
    margin-left: 0.8em;
}

@media (min-width: 1200px) {
    .container {
        min-height: 100vh;
        position: none;
        align-content: center !important;
    }

    #loginForm {
        margin-top: 0;
        width: 80%;
    }

    #registerForm {
        margin-top: 0;
        width: 80%;
    }

    .backgroundLogin {
        position: relative;
        font-family: 'Roboto', sans-serif;
        background-image: url('../../images/LoginBackground.png');
        background-color: #dce8ff;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        width: 100%;
        min-height: 100vh;
        z-index: 0;
    }

    .backgroundRegister {
        position: relative;
        font-family: 'Roboto', sans-serif;
        width: 100%;
        min-height: 100vh;
        z-index: 0;
        overflow: hidden;
        /* Garante que o pseudo-elemento não vaze */
    }

    .backgroundRegister::before {
        content: '';
        /* Pseudo-elemento vazio */
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url('../../images/LoginBackground.png');
        background-color: #dce8ff;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        transform: scaleX(-1);
        /* Espelha horizontalmente */
        z-index: -1;
        /* Coloca atrás do conteúdo */
    }

    .login {
        display: flex !important;
        justify-content: left !important;
    }

    .register {
        display: flex !important;
        justify-content: right !important;
    }

    .login {
        overflow: visible;
    }

    .register {
        overflow: visible;
    }

    .login-box {
        background-color: rgba(150, 184, 250, 0.5);
        text-align: center;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.16);
        overflow: hidden;
        border-radius: 15px;
        padding: 2em 0 2em 0;
    }

    .login-options {
        display: flex;
        justify-content: space-between;
    }

    .col-lg-6 {
        width: 45% !important;
    }
}

#button {
    position: relative;
    min-height: 1px;
}

.login-text {
    text-align: left;
    padding-left: 0px;
    color: #A2A4A4;
}

.loginbttm {
    padding: 0px;
}

.login-info {
    text-align: center;
    padding: 1em;
    color: #000000;
    font-size: 15px;
    margin-top: 0.5em;
}


.register_text {
    text-align: center;
    padding: 1em;
    color: #000000;
    font-weight: 500;
    margin-top: 1em;
    font-size: 16px !important;
}

.register_text a {
    text-decoration: none !important;
}

#spanRegister {
    color: #FF7F50;
    margin-left: 0.3em;
}

#spanRegister:hover {
    color: #fbbf24;
}
