* {
    overflow-y: hidden;
    overflow-x: hidden;
}

body {
    display: flex;
    flex-direction: column !important;
    min-height: 100vh;
}

.main-content {
    flex-grow: 1;
    padding: 6em;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 16em);
}

/* Container que controla a largura do conteúdo */
.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

/* Navbar */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(150, 184, 250, 0.5);
    padding: 10px;
    text-align: center;
    z-index: 1000;
    height: 5em;
}

.fixed-top {
    padding-left: 5em !important;
    padding-right: 3em !important;
}

/* Aumenta o brilho da logo para ela se destacar */
.navbar-brand img {
    filter: brightness(1.5);
}

#logoBrand {
    height: 2.5em;
    width: 5.8em;
}

/* Remove a seta do dropdown */
.dropdown-toggle::after {
    display: none !important;
}

/* Estilo do menu dropdown */
.dropdown-menu {
    position: absolute;
    left: 50%;
    /* Ajusta o menu para a posição central */
    transform: translateX(-50%);
    /* Garante a centralização em relação ao botão */
    top: 100%;
    margin-top: 1em !important;
    text-align: left;
    /* Centraliza o texto dentro do dropdown */
    padding: 10px;
    /* Padding ao redor da caixa */
    background-color: #fff;
    /* Fundo branco para o dropdown */
    border-radius: 5px;
    /* Bordas arredondadas */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* Sombras sutis */
}

/* Remove o fundo azul e a borda preta quando o item é clicado ou está ativo */
.dropdown-item:active,
.dropdown-item:focus,
.btn:focus {
    background-color: transparent !important;
    /* Remove o fundo */
    border: none !important;
    /* Remove a borda */
    box-shadow: none !important;
    /* Remove a sombra do foco */
}

/* Estilos dos itens do menu */
.itens {
    padding: 8px 20px;
    /* Padding em volta de cada item */
    text-align: center;
    /* Centraliza o texto dentro de cada item */
    border: none !important;
}

/* Ícones no menu */
/* #icons {
    color: #25183E;
    font-size: 1.4em;
    margin-left: 1.2em;
} */

/* #icons:hover {
    color: #605a87;
} */

/* Adiciona estilo a links dentro do dropdown */
a {
    text-decoration: none !important;
}

a:hover {
    color: white;
}

/* Sidebar */
.fa {
    margin-top: 0.6em;
    position: relative;
    display: table-cell;
    width: 60px;
    height: 36px;
    text-align: center;
    vertical-align: middle;
    font-size: 20px;
    line-height: 36px;
}

.main-menu:hover,
aside.main-menu.expanded {
    width: 250px;
    overflow: visible;
}

.main-menu {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    overflow: hidden;
    height: 100%;
    width: 60px;
    /* background-color: rgba(150, 184, 250, 0.5); */
    border-right: 1px solid #e5e5e5;
    transition: width 0.3s ease;
}

.main-menu>ul {
    margin: 4em 0;
}

.main-menu li {
    position: relative;
    display: block;
    align-items: center;
    width: 250px;
    padding-top: 0.8em;
}

.main-menu li:first-child {
    position: relative;
    display: block;
    width: 250px;
    padding-top: 2.5em;
}

.main-menu li>a {
    position: relative;
    display: table;
    border-collapse: collapse;
    border-spacing: 0;
    color: #0d43aa;
    font-size: 14px;
    text-decoration: none;
    -webkit-transform: translateZ(0) scale(1, 1);
    -webkit-transition: all .1s linear;
    transition: all .1s linear;
}

.buttonLogout {
    border: none !important;
    color: #0d43aa !important;
    font-size: 14px !important;
    padding-block: 0 !important;
    padding-inline: 0 !important;
}

.buttonLogout:hover {
    color: white !important;
}

#formLogout:hover {
    background-color: rgba(150, 184, 250, 0.5);
}

.nav-textLogout {
    left: 0 !important;
    padding: 0 !important;
}

/* #buttonLogout {
    width: 100%;
    left: 0;
    display: flex;
    border: none;
    border-collapse: collapse;
    border-spacing: 0;
    color: #0d43aa;
    font-size: 14px;
    padding: 0 !important;
    background-color: none;
} */

.main-menu .nav-text {
    position: relative;
    display: table-cell;
    vertical-align: middle;
    width: 190px;
}

.main-menu>ul.logout {
    position: absolute;
    left: 0;
    bottom: 0;
}

.no-touch .scrollable.hover {
    overflow-y: hidden;
}

.no-touch .scrollable.hover:hover {
    overflow-y: auto;
    overflow: visible;
}

a:hover,
a:focus {
    text-decoration: none;
}

aside {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    background-color: rgba(150, 184, 250, 0.5) !important;
}

aside ul,
aside li {
    outline: 0;
    margin: 0;
    padding: 0;
}

.main-menu li:hover>a,
.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus,
.dropdown-menu>.active>a,
.dropdown-menu>.active>a:hover,
.dropdown-menu>.active>a:focus,
.no-touch .dashboard-page aside.dashboard-menu ul li:hover a,
.dashboard-page aside.dashboard-menu ul li.active a {
    color: white !important;
    background-color: rgba(150, 184, 250, 0.5) !important;
}

.has-subnav.active a {
    color: white;
}

.has-subnav.active i {
    color: white;
}

/* Footer */
.footer {
    width: 100%;
    background-color: rgba(150, 184, 250, 0.5);
    color: white;
    padding: 5px;
    text-align: center;
    bottom: 0;
    z-index: 1;
    height: 3em;
}

.copyright-area {
    padding: 10px 0;
}

.copyright-text p {
    margin: 0;
    font-size: 10px;
    color: #000000;
}


@media (min-width: 1200px) {
    .footer {
        width: 100%;
        background-color: rgba(150, 184, 250, 0.5);
        color: white;
        padding: 10px;
        text-align: center;
        bottom: 0;
        z-index: 1;
        height: 4em;
    }

    .copyright-area {
        padding: 15px 0;
    }

    .copyright-text p {
        margin: 0;
        font-size: 15px;
        color: #000000;
    }
}
